# https://pubs.opengroup.org/onlinepubs/7908799/xbd/envvar.html
# https://www.gnu.org/software/libc/manual/html_node/Locale-Categories.html
# https://wiki.archlinux.org/title/locale

LANGUAGE=en_US.UTF-8
LANG=en_US.UTF-8
#LC_ALL={{ .locale }}.UTF-8
LC_CTYPE=en_US.UTF-8
LC_NUMERIC={{ .locale }}.UTF-8
LC_TIME=en_US.UTF-8
LC_COLLATE=C
LC_MONETARY={{ .locale }}.UTF-8
LC_MESSAGES=en_US.UTF-8
LC_PAPER={{ .locale }}.UTF-8
LC_NAME={{ .locale }}.UTF-8
LC_ADDRESS={{ .locale }}.UTF-8
LC_TELEPHONE={{ .locale }}.UTF-8
LC_MEASUREMENT={{ .locale }}.UTF-8
LC_IDENTIFICATION={{ .locale }}.UTF-8
