# Ignore everything
*

# But not these files...
!.bash_functions
!.bash_profile
!.bashrc
!.gitconfig
!.gitignore
!.nanorc
!.ssh/config
!.ssh/id_ed25519.pub
!.sudo/
!.sudo/lecture
!.sudo/groot.txt
!.sudo/dinosaurus.txt
!.sudo/tradewars.txt
!deploy.sh
