set tabsize 8
set linenumbers

include /usr/share/nano/php.nanorc
include /usr/share/nano/html.nanorc
include /usr/share/nano/python.nanorc
include /usr/share/nano/c.nanorc
include /usr/share/nano/sh.nanorc
