#        _
#    ___| |__  _ __ ___
#   / __| '_ \| '__/ __|
#   \__ \ | | | | | (__
#   |___/_| |_|_|  \___|

# Abort if non-interactive shell
echo "$-" | grep -q 'i' || return

# GPG
export GPG_TTY="$(tty)"
export GPGKEY="{{ .gpg_key }}"

{{ if stat .ssh_key }}
# SSH
export SSH_KEY_PATH="{{ .ssh_key }}"
[ -x "$(command -v ssh-agent)" ] && ! pgrep -u "$USER" ssh-agent > /dev/null && ssh-agent > "$HOME/.ssh/ssh-agent.env"
[ -z "$SSH_AUTH_SOCK" ] && . "$HOME/.ssh/ssh-agent.env" > /dev/null
{{ end }}

# If .profile is not loaded (sudo su...)
[ ! -z "$XDG_CONFIG_HOME" ] || . "$HOME/.config/xdg"

# History file
export HISTFILE="$XDG_STATE_HOME/sh/history"
mkdir -p "$(dirname "$HISTFILE")"
export HISTSIZE=100000
export HISTFILESIZE=$HISTSIZE
export SAVEHIST=$HISTSIZE
export HISTTIMEFORMAT="[%F %T] "

# Misc
export XZ_DEFAULTS='-T 0'

# Locale
set -a; . "$XDG_CONFIG_HOME/locale.conf"; set +a;

# Aliases
. "$XDG_CONFIG_HOME/sh/aliasrc"

# Prompt
. "$XDG_CONFIG_HOME/sh/prompt"

# Functions
. "$XDG_CONFIG_HOME/sh/functions"

# Config for some other apps
#. "$XDG_CONFIG_HOME/X11/env"
