# This is Git's per-user configuration file.
[user]
    name = {{ .name }}
    email = {{ .email }}
    signingkey = {{ .gpg_key }}
[commit]
    gpgsign = true
[core]
    editor = vim
[pull]
    rebase = false
[init]
    defaultBranch = master
[alias]
    lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit

