#       _    _ _
#      / \  | (_) __ _ ___
#     / _ \ | | |/ _` / __|
#    / ___ \| | | (_| \__ \
#   /_/   \_\_|_|\__,_|___/

# Use fork if present
[ -x "$(command -v neomutt)" ] && alias mutt='neomutt'
[ -x "$(command -v nsxiv)" ] && alias sxiv='nsxiv'

# X11 config in .config/X11
[ -f "$XINITRC" ] && alias startx='startx $XINITRC'
[ -f "$XDG_CONFIG_HOME/X11/Xresources" ] && alias xrdb='xrdb $XDG_CONFIG_HOME/X11/Xresources'

# XDG
alias bmon='bmon -ocurses:nocolors'
alias svn='svn --config-dir "$XDG_CONFIG_HOME/subversion"'

# PGP encrypt/decrypt with default key
alias encrypt='gpg --armor --encrypt'   # --default-recipient-self in gpg.conf
alias decrypt='gpg --decrypt --use-embedded-filename'

# Use makeflags by default
alias make='make $MAKEFLAGS'

# To follow files after a logrotate
alias tailer='tail --follow=name --retry'

# Add an "alert" alias for long running commands.  Use like so:
#   sleep 10; alert
alias alert='notify-send --urgency=low -i "$([ $? = 0 ] && echo terminal || echo error)" "$(history|tail -n1|sed -e '\''s/^\s*[0-9]\+\s*//;s/[;&|]\s*alert$//'\'')"'

# Abbreviations
alias \
    h='fc -l' \
    ka='killall' \
    e='$EDITOR' \
    v='$VISUAL' \
    m='$PAGER' \
    z='zathura' \
    ll='ls -alh' \
    cz='chezmoi' \
    i='nsxiv' \
    j='jobs' \
    bc='bc -l' \
    mkd='mkdir -p'

# Git
alias \
    g='git' \
    ga='git add .' \
    gc='git commit -S -v'

# Docker
alias \
    d='docker' \
    dc='docker compose' \
    dcl='docker compose logs -f' \
    dcd='docker compose down' \
    dcu='docker compose up -d' \
    dpa='docker system prune --all --volumes; docker volume prune --filter all=1' \
    dps="docker ps --format 'table {{ "{{" }} .ID {{ "}}" }}\t{{ "{{" }} .Names {{ "}}" }}\t{{ "{{" }} .Image {{ "}}" }}\t{{ "{{" }} .Size {{ "}}" }}\t{{ "{{" }} .Status {{ "}}" }}'"

[ -x "$(command -v docker-compose)" ] && alias dc='docker-compose'

{{ if eq .chezmoi.os "linux" -}}
# Linux
alias ip='ip -color=auto'

# Assuming GNU userland on Linux
alias \
    ls='ls --color=auto' \
    ll='ls -alhvN --group-directories-first' \
    grep='grep --color=auto' \
    diff='diff --color=auto'
{{- end }}

{{ if (or (contains "openbsd" .chezmoi.os) (and (hasKey .chezmoi.osRelease "id") (contains "openbsd" .chezmoi.osRelease.id)) (and (hasKey .chezmoi.osRelease "idLike") (contains "openbsd" .chezmoi.osRelease.idLike))) }}
# Does
alias
    sudo='doas' \
    se='doas vim'
{{- else -}}
# Sudo
alias se='sudoedit'
{{- end }}

{{ if (or (contains "debian" .chezmoi.os) (and (hasKey .chezmoi.osRelease "id") (contains "debian" .chezmoi.osRelease.id)) (and (hasKey .chezmoi.osRelease "idLike") (contains "debian" .chezmoi.osRelease.idLike))) }}
# Debian(-like)
alias \
    p='sudo apt-get' \
    pu='sudo apt-get update && p upgrade -y && p dist-upgrade -y && p autoremove --purge && p clean'
{{- else if (or (contains "arch" .chezmoi.os) (and (hasKey .chezmoi.osRelease "id") (contains "arch" .chezmoi.osRelease.id)) (and (hasKey .chezmoi.osRelease "idLike") (contains "arch" .chezmoi.osRelease.idLike))) }}
# Arch Linux
alias p='paru'
{{- else if (or (contains "fedora" .chezmoi.os) (and (hasKey .chezmoi.osRelease "id") (contains "fedora" .chezmoi.osRelease.id)) (and (hasKey .chezmoi.osRelease "idLike") (contains "fedora" .chezmoi.osRelease.idLike))) }}
# Fedora
alias p='sudo dnf'
{{- else if (or (contains "freebsd" .chezmoi.os) (and (hasKey .chezmoi.osRelease "id") (contains "freebsd" .chezmoi.osRelease.id)) (and (hasKey .chezmoi.osRelease "idLike") (contains "freebsd" .chezmoi.osRelease.idLike))) }}
# FreeBSD
alias \
    ls='ls -alh --color=yes' \
    grep='grep --color=auto' \
    p='sudo pkg install'
{{- else if (or (contains "openbsd" .chezmoi.os) (and (hasKey .chezmoi.osRelease "id") (contains "openbsd" .chezmoi.osRelease.id)) (and (hasKey .chezmoi.osRelease "idLike") (contains "openbsd" .chezmoi.osRelease.idLike))) }}
# OpenBSD
alias p='doas pkg_add'
[ -x "$(command -v colorls)" ] && alias ll='colorls -alh'
{{- else -}}
# Unknown OS/distribution
{{- end }}

{{ if eq .init_sys "systemd" -}}
# Systemd
alias \
    sctl='sudo EDITOR="$EDITOR" PAGER="$PAGER" systemctl' \
    jctl='sudo EDITOR="$EDITOR" PAGER="$PAGER" journalctl'
{{- else if (and (eq .init_sys "init") (hasKey .chezmoi.osRelease "id") (contains "openbsd" .chezmoi.osRelease.id)) -}}
# OpenBSD traditional init
alias sctl='doas rcctl'
{{- else if eq .init_sys "init" -}}
# Traditional init
sctl() { sudo service "$2" "$1"; }
{{- else -}}
# Unknown init system
{{- end }}

# Flatpak
alias \
    fp='flatpak' \
    fpu='flatpak update' \
    fpi='flatpak install'
