#   ____  _       _    __
#  |  _ \| | __ _| |_ / _| ___  _ __ _ __ ___
#  | |_) | |/ _` | __| |_ / _ \| '__| '_ ` _ \ 
#  |  __/| | (_| | |_|  _| (_) | |  | | | | | |
#  |_|   |_|\__,_|\__|_|  \___/|_|  |_| |_| |_|

{{ if eq .chezmoi.os "linux" -}}
. "$XDG_CONFIG_HOME/sh/os/linux/main"
{{- else if eq .chezmoi.os "darwin" -}}
. "$XDG_CONFIG_HOME/sh/os/darwin/main"
{{- else if (or (contains "freebsd" .chezmoi.os) (and (hasKey .chezmoi.osRelease "id") (contains "freebsd" .chezmoi.osRelease.id)) (and (hasKey .chezmoi.osRelease "idLike") (contains "freebsd" .chezmoi.osRelease.idLike))) -}}
. "$XDG_CONFIG_HOME/sh/os/freebsd/main"
{{- else if (or (contains "openbsd" .chezmoi.os) (and (hasKey .chezmoi.osRelease "id") (contains "openbsd" .chezmoi.osRelease.id)) (and (hasKey .chezmoi.osRelease "idLike") (contains "openbsd" .chezmoi.osRelease.idLike))) -}}
. "$XDG_CONFIG_HOME/sh/os/openbsd/main"
{{- end }}
