{{- $gpg_key := "94863C7F986D65E8" -}}
{{- $ssh_key := "" -}}
{{- $shell := "bash" -}}
{{- $nbproc := 0 -}}
{{- $init_sys := "systemd" -}}

{{- if eq .chezmoi.os "freebsd" -}}
    # {{- $shell = "sh" -}}

    {{- $init_sys = "init" -}} # rcNG is the default init system on FreeBSD
    # https://docs.freebsd.org/en/articles/linux-users/#startup
    # https://www.freebsd.org/cgi/man.cgi?init
{{- else if eq .chezmoi.os "openbsd" -}}
    {{- $shell = "ksh" -}}

    {{- $init_sys = "init" -}}
    # https://www.openbsdhandbook.com/openbsd_for_linux_users/#init
    # https://man.openbsd.org/init.8
{{- end -}}

{{- if eq .chezmoi.hostname "zeus" -}}
    {{- $nbproc = 32 -}}
{{- end -}}

{{- if stat (printf "%s/%s@%s" (joinPath .chezmoi.homeDir ".ssh/key" ) .chezmoi.username .chezmoi.fqdnHostname) -}}
{{- $ssh_key = printf "%s/%s@%s" (joinPath .chezmoi.homeDir ".ssh/key" ) .chezmoi.username .chezmoi.fqdnHostname -}}
{{- end -}}

encryption = "gpg"

[data]
    email = "sebastian@karlsen.fr"
    name = "Sebastian Karlsen"
    gpg_key = "{{ $gpg_key }}"
    ssh_key = "{{ $ssh_key }}"
    shell = "{{ $shell }}"
    nbproc = {{ $nbproc }}
    init_sys = "{{ $init_sys }}"

[gpg]
    recipient = "{{ $gpg_key }}"
