{{- $gpg_key := "94863C7F986D65E8" -}}
{{- $ssh_key := "" -}}
{{- $shell := "bash" -}}
{{- $nbproc := 0 -}}

{{- if eq .chezmoi.os "freebsd" -}}
    {{- $shell = "sh" -}}
{{- else if eq .chezmoi.os "openbsd" -}}
    {{- $shell = "ksh" -}}
{{- end -}}

{{- if eq .chezmoi.hostname "zeus" -}}
    {{- $nbproc = 32 -}}
{{- end -}}

{{- if stat (printf "%s/%s@%s" (joinPath .chezmoi.homeDir ".ssh/key" ) .chezmoi.username .chezmoi.fqdnHostname) -}}
{{- $ssh_key = printf "%s/%s@%s" (joinPath .chezmoi.homeDir ".ssh/key" ) .chezmoi.username .chezmoi.fqdnHostname -}}
{{- end -}}

encryption = "gpg"

[data]
    email = "sebastian@karlsen.fr"
    name = "Sebastian Karlsen"
    gpg_key = "{{ $gpg_key }}"
    ssh_key = "{{ $ssh_key }}"
    shell = "{{ $shell }}"
    nbproc = {{ $nbproc }}

[gpg]
    recipient = "{{ $gpg_key }}"
